{{> header}}
{{> loader}}
{{> banner}}
<section class="home-section" id="about">
    <div class="bg_"><div class="img_ b-lazy" data-src="{{assets}}/images/img-placeholder.jpg"></div></div>

    <div class="container">
        <div class="about_wrapper">
            <div class="title-box center_">
                <div class="section-title">
                    <h2>About</h2>
                </div>
            </div>

            <div class="text_box default_anim d_2">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</p>
            </div>
        </div>
    </div>
</section>

<section class="home-section" id="products">
    <div class="container">

        <div class="title-box center_">
            <div class="section-title">
                <h2>Our Products</h2>
            </div>
        </div>

        <div class="product_wrapper">

            <div class="item_">
                <div class="img_box">
                    <div class="img_ b-lazy" data-src="{{assets}}/images/img-placeholder.jpg"></div>
                </div>

                <div class="title_">
                    <h4>Title</h4>
                </div>
            </div>

             <div class="item_">
                <div class="img_box">
                    <div class="img_ b-lazy" data-src="{{assets}}/images/img-placeholder.jpg"></div>
                </div>

                <div class="title_">
                    <h4>Title</h4>
                </div>
            </div>

             <div class="item_">
                <div class="img_box">
                    <div class="img_ b-lazy" data-src="{{assets}}/images/img-placeholder.jpg"></div>
                </div>

                <div class="title_">
                    <h4>Title</h4>
                </div>
            </div>

             <div class="item_">
                <div class="img_box">
                    <div class="img_ b-lazy" data-src="{{assets}}/images/img-placeholder.jpg"></div>
                </div>

                <div class="title_">
                    <h4>Title</h4>
                </div>
            </div>

             <div class="item_">
                <div class="img_box">
                    <div class="img_ b-lazy" data-src="{{assets}}/images/img-placeholder.jpg"></div>
                </div>

                <div class="title_">
                    <h4>Title</h4>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="home-section" id="why">
    <div class="bg_ color_"><div class="img_ b-lazy" data-src="{{assets}}/images/img-placeholder.jpg"></div></div>

    <div class="container">
        <div class="title-box center_">
            <div class="section-title white_">
                <h2>Why</h2>
            </div>
        </div>

        <div class="why_wrapper">
            <div class="item_">
                <div class="icon_ default_anim">
                    <span>10<sup>+</sup></span>
                </div>
                <div class="text_ default_anim">
                    <h4>Title Here</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                </div>
            </div>

             <div class="item_">
                <div class="icon_ default_anim">
                    <span>100<sup>+</sup></span>
                </div>
                <div class="text_ default_anim">
                    <h4>Title Here</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                </div>
            </div>

             <div class="item_">
                <div class="icon_ default_anim">
                    <span>15<sup>+</sup></span>
                </div>
                <div class="text_ default_anim">
                    <h4>Title Here</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                </div>
            </div>
        </div>

    </div>

</section>

<section class="home-section" id="clients">
    <div class="container">
        <div class="title-box center_">
            <div class="section-title">
                <h2>Our Clients</h2>
            </div>
        </div>

        <div class="clients_wrapper">

            <div class="item_">
                <a href="#" target="blank_" class="link_">
                    <div class="img_box">
                        <div class="img_ b-lazy" data-src="{{assets}}/images/img-placeholder.jpg"></div>
                    </div>
                </a>
            </div>

            <div class="item_">
                <a href="#" target="blank_" class="link_">
                    <div class="img_box">
                        <div class="img_ b-lazy" data-src="{{assets}}/images/img-placeholder.jpg"></div>
                    </div>
                </a>
            </div>

            <div class="item_">
                <a href="#" target="blank_" class="link_">
                    <div class="img_box">
                        <div class="img_ b-lazy" data-src="{{assets}}/images/img-placeholder.jpg"></div>
                    </div>
                </a>
            </div>

            <div class="item_">
                <a href="#" target="blank_" class="link_">
                    <div class="img_box">
                        <div class="img_ b-lazy" data-src="{{assets}}/images/img-placeholder.jpg"></div>
                    </div>
                </a>
            </div>

            <div class="item_">
                <a href="#" target="blank_" class="link_">
                    <div class="img_box">
                        <div class="img_ b-lazy" data-src="{{assets}}/images/img-placeholder.jpg"></div>
                    </div>
                </a>
            </div>

            <div class="item_">
                <a href="#" target="blank_" class="link_">
                    <div class="img_box">
                        <div class="img_ b-lazy" data-src="{{assets}}/images/img-placeholder.jpg"></div>
                    </div>
                </a>
            </div>

            <div class="item_">
                <a href="#" target="blank_" class="link_">
                    <div class="img_box">
                        <div class="img_ b-lazy" data-src="{{assets}}/images/img-placeholder.jpg"></div>
                    </div>
                </a>
            </div>

            <div class="item_">
                <a href="#" target="blank_" class="link_">
                    <div class="img_box">
                        <div class="img_ b-lazy" data-src="{{assets}}/images/img-placeholder.jpg"></div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>

<section class="home-section bg_dark" id="contact">
    <div class="container">

        <div class="title-box center_">
            <div class="section-title">
                <h2>Contact Us</h2>
            </div>
        </div>

        <div class="container_wrapper">

            <div class="item_">
                <div class="inner_">
                    <div class="image_box">
                        <div class="img_ b-lazy" data-src="{{assets}}/images/img-placeholder.jpg"></div>
                    </div>

                    <div class="content_">

                    </div>
                </div>
            </div>

            <div class="item_">
                <div class="inner_">
                    <div class="image_box">
                        <div class="img_ b-lazy" data-src="{{assets}}/images/img-placeholder.jpg"></div>
                    </div>

                    <div class="content_">
                        
                    </div>
                </div>
            </div>

            <div class="item_">
                <div class="inner_">
                    <div class="image_box">
                        <div class="img_ b-lazy" data-src="{{assets}}/images/img-placeholder.jpg"></div>
                    </div>

                    <div class="content_">
                        
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

{{> script-home}}
{{> footer}}