<header id="header">
  <div class="container">
    <div class="navbar">

    <div class="brand_box">
      <a class="navbar-brand" href="{{menuLink 'index'}}" title="Al Maher">
        <img src="{{assets}}/images/img-placeholder.jpg" alt="Al Maher">
      </a>
    </div>


    <div class="nav_lister">
      <div class="item_">
        <a href="#" class="btn_">
          <div class="icon_">

          </div>
          <span>Read More</span>
        </a>
      </div>
      <div class="item_">
        <div class="toggle_box">
          <button class="menu_trigger" data-traget="master_menu">
            <span></span>
          </button> 
        </div>
      </div>
    </div>

    {{!-- <div class="nav_box_wrapper" id="master_menu">

      <div class="pattern_">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>

      <nav class="navbar-inner">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a href="{{menuLink 'index'}}#home" class="nav-link scroll" data-href="#home"  aria-title="" ><span>Home</span></a>
          </li>
          <li class="nav-item">
            <a href="{{menuLink 'index'}}#about" class="nav-link scroll" data-href="#about"  aria-title="" ><span>About Us</span></a>
          </li>
          <li class="nav-item">
            <a href="{{menuLink 'index'}}#products" class="nav-link scroll" data-href="#products"  aria-title="" ><span>Our Products</span></a>
          </li>
          <li class="nav-item">
            <a href="{{menuLink 'index'}}#why" class="nav-link scroll" data-href="#why"  aria-title="" ><span>Why Almaher</span></a>
          </li>
          <li class="nav-item">
            <a href="{{menuLink 'index'}}#clients" class="nav-link scroll" data-href="#clients"  aria-title="" ><span>Our Clients</span></a>
          </li>
          <li class="nav-item">
            <a href="{{menuLink 'index'}}#contact" class="nav-link scroll" data-href="#contact"  aria-title="" ><span>Contact Us</span></a>
          </li>
        </ul>
      </nav>
    </div>  --}}

    </div>
  </div>
</header>
